%h3 Recent Tricks

%div.span12
  %ul.thumbnails
    - @tricks.each do |trick|
      %li.span3
        .thumbnail
          %h4= link_to (trick.title + ' - ' + trick.rating.to_s[0..3]), location_trick_path(trick.location, trick)
          %p 
            = link_to trick.user.name, user_path(trick.user)
            at
            = link_to trick.location.title, location_path(trick.location)
          = link_to image_tag(trick.youtube_thumbnail), location_trick_path(trick.location, trick)
