%h3 #{@user.name}

%h4 Tricks
.span12
%ul.thumbnails
  - @tricks.each do |trick|
    %li.span2
      .thumbnail
        %h4= link_to trick.title, location_trick_path(trick)
        = link_to image_tag(trick.youtube_thumbnail), location_trick_path(trick)
