- content_for :head do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB7f2A7fhm-C0t6GTU_rKguTK9jURXtUv8&sensor=false'

-#- content_for :javascripts do
-#  = javascript_include_tag 'home_index.js'

.hero-unit
  = image_tag("actualLogo.png")
  %h1 The online skating revolution
  %p 
    ConKore is mapping the urban jungle. Tag obstacles in you city, then post 
    and share videos of you conquoring them. Track your progress as a skater,
    meet other skaters in you area and find new awesome spots to conquer!

%div#map_canvas{:style => "position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; height: 100%"}
