// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#locationImage {
  resize:both;
}
#map_canvas {
  position: relative; 
  height: 400px;
}
